.editor-block {
    max-width: 50rem;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 4rem 8rem;

    justify-self: center;

    background-color: bisque;
    transition: width 0.3s ease;
}

.editor-block.normal-width {
    width: 60rem auto;
    height: 100%;

    margin: 10rem auto;
}

.editor-block.full-width {
    width: 100%;
    height: 100%;

    margin: 0;
}
