.sidebar-block {
    width: 3rem;
    height: 100%;
    border-right: var(--border-color) 1px solid;
    background-color: var(--sidebar-background-color);
    display: grid;
}

/* 两部分分别渲染 */
.dynamic-area .static-area {
    display: grid;
    grid-auto-rows: 3rem;
    grid-auto-columns: 3rem;
    place-items: center;
}

/* 动态部分 - 按键数量不固定 */
.dynamic-area {
    overflow-x: hidden;
    overflow-y: overlay;
    max-height: calc(100vh - 7rem);
    align-self: start;
}

/* 静态部分 - 按键数量固定 */
.static-area {
    align-self: end;
}

/* 设置滚动条的宽度 */
::-webkit-scrollbar {
    width: 2px;
    /* 设置滚动条的宽度 */
}

/* 设置滚动条轨道的样式 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* 设置滚动条轨道的背景色 */
}

/* 设置滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
    background-color: #888;
    /* 设置滚动条滑块的背景色 */
}