.activityBar-block {
    width: 15rem;
    height: 100%;
    color: var(--text-color);
    border-right: var(--border-color) 1px solid;
    background-color: var(--sidebar-background-color);

    display: grid;
}