.activityBar-block {
    grid-column: 2;
    max-width: 15rem;
    width: 15rem;
    height: 100%;
    overflow: auto;
    color: var(--text-color);
    border-right: var(--border-color) 1px solid;
    background-color: var(--background-color);
    transition: width 0.3s ease;
    
}

.activityBar-outer {
    width: 15rem;
    height: 100%;
    border-right: var(--border-color) 1px solid;
    overflow: hidden;
    transition: width 0.3s ease;
}

.activityBar-outer.retracted {
    width: 0;
    border-right: 0;
} 

.resizable {
    /* Todo */
    width: 15rem;
    height: 100%;
    overflow: auto;
}
