.App {
    user-select:none;

    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;

    display: grid;

    overflow-x: hidden;
    overflow-y: auto;
}

.function-block {
    margin: 2rem;
}
