.App {
    user-select:none;

    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;

    display: grid;
    grid-template-columns: auto auto 1fr;

    overflow: hidden;

    color: var(--text-color);
    background-color: var(--background-color);
}

.function-block {
    margin: 2rem;
}
